/** @format */

body {
	font-family: emoji;
	font-size: 30pt;
	background-color: #d8e3e7;
	margin: 2cm;
}
h1 {
	font-family: courier;
	font-size: 35pt;
	font-weight: bold;
	text-align: center;
	-webkit-text-fill-color: black;
	-webkit-text-stroke: 1px #132c33;
}
p {
	font-family: courier;
	font-size: 35pt;
	font-weight: bold;
	text-align: center;
	-webkit-text-fill-color: black;
	-webkit-text-stroke: 1px #132c33;
}
.tabla {
	border: 0;
	height: 400px;
	width: 600px;
	border-style: solid;
	border-color: #126e82;
	border-width: 10px;
	font-family: emoji;
	font-size: 14pt;
	background-color: #126e82;
}
.fila {
	background-color: #132c33;
}

.titulo {
	font-family: cursive;
	color: #d8e3e7;
	font-size: 18pt;
	-webkit-text-fill-color: black;
	-webkit-text-stroke: 1px #132c33;
}

a:link {
	font-family: emoji;
	font-size: 16pt;
	text-align: center;
	font-weight: bold;
	color: #d8e3e7;
	text-decoration: none;
}
a:visited {
	font-family: emoji;
	font-size: 12pt;
	text-align: center;
	font-weight: bold;
	color: #d8e3e7;
	text-decoration: none;
}
a:active {
	font-family: emoji;
	font-size: 12pt;
	text-align: center;
	font-weight: bold;
	color: #d8e3e7;
	text-emphasis: none;
}

img {
	width: 200px;
	height: 200px;
}
